.cabecera{
    height: 10vh;
    padding: 24px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 148px;
    height: 80px;
}
.lenguaje{
    width: 131px;
    height: 32px;
    padding: 6px 32px;
    border-color: #ffffff70;
    border-width: 0.5px;
    background-color: black;
}
.lenguaje:hover{
    border-style: double;
    border-width: 5px;
    width: 136px;
    height: 37px;
    border-color: white;
}

.opcionlenguaje{
    background-color: white;
    color: black;
}
.opcionlenguaje:checked{
    background-color: blue;
    color: white;
}
.opcionlenguaje:focus{
    background-color: blue;
    color: white;
}
.botonr{
    background-color: red;
    border: none;
    cursor: pointer;
}
.botonr:hover{
    background-color: rgb(165, 4, 4) ;
}
.singin{
    width: 77px;
    height: 32px;
    margin-left: 20px;
    font-weight: bold;
    font-style: none;
}
.contenido{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido1{
    font-size: 48px;
    font-weight: bold;
}
.contenido2{
    font-size: 24px;
    padding: 20px 0px;
}
.contenido3{
    font-size: 20px;
    padding: 10px 0px;
}
.contenido4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.email{
    width: 369px;
    height: 56px;
    border-color: white;
    border-width: 1px;
    background-color: #ffffff68;
}
.getstarted{
    width: 209px;
    height: 56px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}
.pie{
    display: none;
    background-color: black;
}
.pie1{
    font-size: 32px;
    font-weight: bold;
}
.pie2{
    font-size: 18px;
}
@media screen and (max-width:600px) {
    .singin{
        width: 78px;
        height: 32px;
    }
    .logo{
        width: 89px;
        height: 48px;
    }
    .lenguaje{
        width: 64px;
        height: 32px;
    }
    .contenido{
        padding: 0px 5px;
        height: 60vh;
    }
    .contenido1{
        font-size: 32px;
    }
    .contenido2,.contenido3{
        font-size: 18px;
    }
    .contenido4{
        flex-direction: column;
        align-items: center;
    }
    .getstarted{
        margin-top: 20px;
    }    
    .pie{
        height: 25vh;
        /*display: block;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        padding: 5px 5px;    
    }
    .pie1{
        padding: 20px 0px;
    }
    .pie2{
        padding: 20px;
    }
}